<% include ./partials/header %>

<div id="content" class="main-register">
        <div class="main-container">
            <div class="register">
                <div class="register__title">
                    <h1 class="title title--black">Registro</h1>
                    <p>añadir breadcrumbs ----- </p>
                </div>
                <form class="register__form" action="/formUpdUsu" method="POST">
                    <div class="register__group">
                        <label class="register__label" for="nombre">nombre</label>
                        <input class="register__input" id="nombre" type="text" name="nombre" value="<%= regs.nombre%>"autofocus required/>
                    </div>
                    <div class="register__group">
                        <label class="register__label" for="direccion">direccion</label>
                        <input class="register__input"id="direccion" type="text" name="direccion" value="<%= regs.direccion%>"required/>
                    </div>
                    <div class="register__group">
                        <label class="register__label" for="telefono">telefono</label>
                        <input class="register__input"id="telefono" type="text" name="telefono" value="<%= regs.telefono%>"required/>
                    </div>
                    <div class="register__group">
                        <label class="register__label" for="email">email</label>
                        <input class="register__input"id="email" type="email" name="email" value="<%= regs.email%>"required/>
                    </div>
                    <div class="register__group">
                        <label class="register__label" for="usuario">usuario</label>
                        <input class="register__input"id="usuario" type="text" name="usuario" value="<%= regs.usuario%>"required/>
                    </div>
                    <div class="register__group">
                        <label class="register__label" for="contrasena">contraseña</label>
                        <input class="register__input"id="contrasena" type="password" name="contrasena" value="<%= regs.contrasena%>"required/>
                    </div>
                    <input class="button" type="submit" value="Guardar"/>
                </form>
            </div>    
        </div>
    </div>

<% include ./partials/footer %>