<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
<div class="container">
    <div class="row">
        <div class="card-box">
            <h3>Promociones Vigentes</h3>
            <% if(messages) { %>
            <p>mensaje: <strong><%= messages%></strong>
            <% } %>
            </p>
            <a href="/formAddRegisterPromo" class="btn btn-info pull-right">Agregar Promoción</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre promoción</th>
                        <th>Descripcion</th>
                        <!-- <th>Fec. Creación</th> -->
                        <th>Precio (S/.)</th>
                        <th>Habilitado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% regs.forEach(function(reg){ %>
                    <tr>
                        <td><%=reg.nombrepromocion %></td>
                        <td><%= reg.descripcion %></td>
                        <!-- <td><%= reg.feccreacion %></td> -->
                        <td><%= reg.price %></td>
                        <% if( reg.habilitado ) {%>
                            <td> Promoción Activa</td>
                        <% } else {%>
                            <td> Promoción Desactiva</td>
                        <% } %>
                        <td>
                            <a href="/promocion/editar/<%= reg.id %>" class="btn btn-warning">Editar</a> &nbsp;&nbsp;
                            <a href="/promocion/eliminar/<%= reg.id %>" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="/js/library/noty.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.4.1/jquery.noty.js"></script>
<script>
if(typeof jQuery != 'undefined'){
    new Noty({
        type: 'success', //alert, success, warning, error, info
        theme: 'relax',
        layout: 'topRight',
        text: 'Some notification text',
        animation: {
            open: 'animated slideInDown', // in order to use this you'll need animate.css
            close: 'animated bounceOutRight',
            easing: 'swing',
            speed: 5
        }
}).show();
}
</script>