<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 >Editar Mascota</h3>
            </div>
            <div class="panel-body">
                <form class="register__form" action="/pet/<%= reg.id%>/update" method="POST">
                    <div class="form-group">
                        <label for="tipomascota">Tipo Mascota</label>
                        <% pets.forEach(function(pet) {%> 
                            <% if (reg.tipomascota.nombre == pet.nombre) {%> 
                                <select name="tipomascota" id="tipomascota" class="form-control">
                                    <option value="<%= reg.tipomascota.id %>" selected> <%= reg.tipomascota.nombre %> </option>
                                </select>
                            <%}%>
                        <% }) %>      
                    </div>
                    <div class="form-group">
                        <label for="nombre">nombre</label>
                        <input class="form-control"id="nombre" type="text" name="nombre" value="<%= reg.nombre%>"required/>
                    </div>
                    <div class="form-group">
                        <label for="raza">raza</label>
                        <input class="form-control"id="raza" type="text" name="raza" value="<%= reg.raza%>"required/>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success pull-right" type="submit" value="Guardar"/>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>