
<div class="container">
    <div class="row">
        <div class="panel-default">
            <div class="panel-heading">
                <a href="/addPet" class="btn btn-primary">Nuevo</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Mascotas Registradas</h3>
            </div>
            <div class="panel-body">
                <form class="form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-10 col-md-10">
                                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre Mascota">
                            </div>
                            <div class="col-xs-2 col-md-2">
                                <button type="submit" class="btn btn-info" name="button">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <p class="message"></p>
            </div>
        </div>
    </div>    
    <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tipo de Mascota</th>
                                    <th>Nombre Mascota</th>
                                    <th>Raza</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% regs.forEach(function(reg){%>
                                <tr>
                                    <td><a href="/detallemascota/<%= reg.id %>"><%= reg.tipomascota.nombre %></a></td>
                                    <td><%= reg.nombre %></td>
                                    <td> <%= reg.raza %> </td>
                                    <td></td>
                                    <td><a href="/pet/<%= reg.id %>/edit" style="margin-right: 1em">Editar</a>
                                        <a href="/pet/<%= reg.id %>/delete" style="margin-right: 1em" class="text-danger">Eliminar</a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>
</div>
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous">
</script>

<script>    
    function onReady() {
    $(".form").on("submit", function(e) {
        var nombre = $("#nombre").val();
        $.post(
        "/searchAjax",
        {
             nombre: nombre
        },
        function(data) {
            var list='';
            data.forEach(element => {
              list += '<div class="card-box">'
                    + '<h3>' + '<a href="">' + element.tipomascota.nombre + '</a>' + '</h3>'
                    + '<span>Propietario: ' + element.propietario.nombre + '<span>' + '</br>'
                    + '<span>Documento: ' + element.propietario.numerodocumento + '<span>' + '</br>'
                    + '<span>Nombre: ' + element.nombre + '<span>' + '</br>'
                    + '<span>Raza: ' + element.raza + '<span>' + '</br></br>'
                    + '<div class="actions"> <a href="/pet/2/edit" style="margin-right: 1em">Editar</a> <a href="/pet/2/delete" style="margin-right: 1em" class="text-danger">Eliminar</a></div>'
                    + '</div>';
            });
            console.log(typeof list);
            $(".message").html(list);
        });
        e.preventDefault();
    });
    }

    $(document).ready(onReady);
</script>