
<div class="container">
    <div class="row">
        <div class="panel-default">
            <div class="panel-heading">
                <a href="/register" class="btn btn-primary">Nuevo</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Usuarios Registrados</h3>
            </div>
            <div class="panel-body">
                    <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo Usuario</th>
                                    <th>Usuario</th>
                                    <!-- <th>Contrasena</th> -->
                                    <!-- <th>Fec. Registho</th> -->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% datas.forEach((data)=> {%>
                                <tr>
                                    <td><%= data.nombre%></td>
                                    <td><%= data.tipousuario%></td>
                                    <td><%= data.usuario%></td>
                                    <!-- <td><%= data.contrasena%></td> -->
                                    <!-- <td><%= data.fecregistro%></td> -->
                                    <td><a class="btn btn-warning" href="/editusu/<%= data.id %>">Editar</a> <a class="btn btn-danger" href="/deletUsu/<%= data.id %>">Eliminar</a></td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
            </div>
        </div>
    </div>
</div>